li {
  display: inline;
  padding:1em;
}
.navtext {
  font-family: arial;
  padding: 0.5em
}

#navbar ul{
  position:absolute;
  right:2em;]
  top:1em;
}
.signin {
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: .6em 1em;
  text-decoration: none;
  font-family: Arial, sans-serif;
  opacity: 0.75
}
.signin:hover {
  text-decoration: none;
  opacity: 2
}
.signin:visited {
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: .6em 1em;
  text-decoration: none;
  font-family: Arial, sans-serif;
  opacity: 0.75
}
.apps {
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  vertical-align: middle;
  padding-right: 2em;
  padding-left: 1em;
  opacity: 0.55;
}
.apps:hover {
  text-decoration: none;
  opacity: 1
}
.main {
  display: block;
  margin: auto;
  height: 92px;
  width: 272px;
  position: relative;
  top: 13em;
}
.searchbox {
  width: 700px;
  margin-top: 2em;
  margin-left: -8em;
  height: 40px;
  box-shadow: 0px 1px 5px 0px;
  border-radius: 2px;
  font-size: 20px;
  padding: 10px;
  outline: none;
  position: absolute;
  border: none;
}
.searchbox:hover {
  box-shadow: -3px 2px 9px 2px;
}
.searchbox:focus {
  box-shadow: -3px 2px 9px 2px;
}
.voiceicon {
  display: block;
  margin: auto;
  height: 35px;
  position: relative;
  top: 254px;
  left: 375px;
}
.submitbutton {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  text-align: center;
  margin-right: 25px;
  opacity: .8;
  color: black;
}
.submitbutton:hover {
  opacity: 1;
  border: 2px solid gray;
}
.buttonarea {
  display: block;
  padding: 0;
  width: 600px;
  left: 44%;
  position: relative;
  top: 23em;
}
.footer {
  background: #f2f2f2;
  height: 53px;
  vertical-align: baseline;
  border-top: 1px solid #e4e4e4;
  margin: 0;
  padding: 0;
  bottom: 0;
  position: fixed;
}
.fll {
  text-decoration: none;
  font-family: Arial;
  font-size: 17px;
  display: inline;
  float: left;
}
.flr {
    text-decoration: none;
    font-family: Arial;
    font-size: 17px;
    display: inline;
    float: right;
    right: 0;
    position: fixed;
    margin: 10px;
}
.signin li:hover {
  text-decoration: none;
}
a:link {
  text-decoration: inherit;
}
a:active {
  color: white;
  text-decoration: underline;
}
a:visited {
  color:black;
a:link {
  color:black;
}
.textnav:hover {
  text-decoration: underline;
}
